body{
    background-color: black;
    color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

div{
    
}

.theLineFromGenius {
    font-size: 69px;

}

.theLineFromGenius::selection{
    color:red;
    background-color:bisque;
}

#Mileva{
    
}

#Einstein {

}

#Einstein #whatIsTime {
    color: red;
}

#Einstein #whatIsTime::selection {
    background-color: black;
    color: bisque;
}

#space_to_display_time {
    position: fixed;
    top: 50%;
    left: 40%;  
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 100px;

    color: bisque;
}

#space_to_display_time::selection{
    background-color: bisque;
    color: black;
}