body{
    background-color: black;
    color: bisque;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 3px;
    margin: 0;
    padding: 1rem;
}

.theLineFromGenius {
    font-size: 4.3rem;
    font-family: 'Orbitron', sans-serif;
}

.theLineFromGenius::selection{
    color:red;
    background-color:bisque;
}

#Einstein #whatIsTime {
    color: red;
}

#Einstein #whatIsTime::selection {
    background-color: black;
    color: bisque;
}

#space_to_display_time {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6.25rem;
    color: bisque;
    text-align: center;
}

#space_to_display_time::selection{
    background-color: bisque;
    color: black;
}


.themedBtn{
    font-size: 56px;
    border: 2px solid bisque;
    border-radius:160px;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(45, 45, 45);
    color: bisque;
    
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .theLineFromGenius {
        font-size: 3rem;
    }

    #space_to_display_time {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    .theLineFromGenius {
        font-size: 2rem;
    }

    #space_to_display_time {
        font-size: 3rem;
        width: 90%;
    }
}