body{
    background-color: black;
    color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

div{
    
}

.theLineFromGenius {
    font-size: large;

}

#Mileva{
    
}

#Einstein {

}

#Einstein #whatIsTime {
    color: red;
}