body{
    background-color: black;
    color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

div{
    
}

.theLineFromGenius {
    font-size: large;

}

#Mileva{
    
}

#Einstein {

}

#Einstein #whatIsTime {
    color: red;
}

.space_to_display_time {
    position: fixed;
    top: 50%;
    left: 31%;  
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 100px;
}